langchain==0.3.25
    # via langchain-community
langchain-anthropic==0.3.15
    # via agents (pyproject.toml)
langchain-community==0.3.24
    # via
    #   agents (pyproject.toml)
    #   langchain-experimental
langchain-core==0.3.64
    # via
    #   langchain
    #   langchain-anthropic
    #   langchain-community
    #   langchain-experimental
    #   langchain-openai
    #   langchain-text-splitters
    #   langgraph
    #   langgraph-checkpoint
    #   langgraph-prebuilt
langchain-experimental==0.3.4
    # via agents (pyproject.toml)
langchain-openai==0.3.21
    # via agents (pyproject.toml)
langchain-text-splitters==0.3.8
    # via langchain
langgraph==0.4.8
    # via agents (pyproject.toml)
langgraph-checkpoint==2.0.26
    # via
    #   langgraph
    #   langgraph-checkpoint-sqlite
    #   langgraph-prebuilt
langgraph-checkpoint-sqlite==2.0.10
    # via agents (pyproject.toml)
langgraph-prebuilt==0.2.2
    # via langgraph
langgraph-sdk==0.1.70
    # via langgraph
langsmith==0.3.45
    # via
    #   agents (pyproject.toml)
    #   langchain
    #   langchain-community
    #   langchain-core
